.main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    width: 25%;
    margin: 30px
}
.card-inner{
    text-align: center;
}
.image {
    width: 50%;
    margin: 10px auto;
}
.material-icons {
    color: #d4961c;
}
.cart {
    border-radius: 5px;
    border: 1px solid #d4961c;
    width: 70px;
    margin: 5px;
    cursor: pointer;
}
.remove-btn {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.close {
    float: right;
}

.noFavourites {
    text-align: center;
    margin: 50px;
}
.noFavouritesText {
    font-size: 20px;
}
.noFavouritesLink {
    font-size: 15px;
}

@media only screen and (max-width: 920px) {
    .card {
      width: 38%;
    }
}
@media only screen and (max-width: 700px) {
    .card {
      width: 65%;
    }
}